/*
* {
    border: 1px red solid;
}
*/
body {
    touch-action: pan-y;
    background-color: #ccc9b2;
}



.navbar-brand img {
    transform: translate(10%,-20%);
}


#iframe-container {
    position: relative;
    padding-bottom: 55.75%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    border: 5px white solid;
    border-radius: 7px;

}

iframe {
    aspect-ratio: 16 / 9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}