

@font-face {
    font-family: 'cascadia';
    src: url('./AppExport/ArtAssetsForSite/Fonts/CascadiaCode-2111.01/otf/static/CascadiaCode-Regular.otf') format('opentype'); /* Modern format */
  }


body {
    display: flex;
    background-color: #ccc9b2;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 844pt) {
    body {
        height: 100%;
    }
}
@media (max-width: 390px) {
    body {
        height: 100vh;
    }
}

#header {
    display: flex;
    position: absolute;
    width: 80%;
    height: 15%;
    top: 0%;
    align-items: center;
}
@media (max-width: 844pt) {
    #header {
        height: 30%;
    }
}
@media (max-width: 390pt) {
    #header {
        justify-content: center;
    }
}

#logo {
    height: 100%;
}


.content {
    display: flex;
    position: relative;
    width: 60%;
    height: auto;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------------------------*/

iframe {
    position: absolute;
    padding: 0;
    margin: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 1920px;
    height: 1084px;
    user-select: none;
    border: 10px solid white;
    border-radius: 15px;
}

@media (max-width: 2560px) {
    iframe {
        transform-origin: center;
        transform: scale(.75)
    }
}

@media (max-width: 1680px) {
    iframe {
        transform-origin: center;
        transform: scale(48.6%);
    }
}

@media (max-width: 844pt) {
    iframe {
        transform: scale(.34);
        transform-origin: center;
        top: -246px;

    }
}
@media (max-width: 390pt) {
    iframe {
        display: none;    
    }
}


#intro-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-family:'cascadia';
    text-align: center;
}
@media (max-width: 2560px) {
    #intro-text {
        display: none;
    }
}
@media (max-width: 844px) {
    #intro-text {
        display: none;
    }
}
@media (max-width: 390px) {
    #intro-text {
        display: flex;
    }
}
#intro-text h1{
    font-size: 14pt;
}


@media (max-width: 844px) {
    #overlay1 {
        display: block;
        position: absolute;
        z-index: 100;
        width: 100px;
        height: 235px;
        top: 65%;
        right: 30px;
    }
}
@media (max-width: 844px) {
    #overlay2 {
        display: block;
        position: absolute;
        z-index: 100;
        width: 380px;
        height: 100px;
        top: 34%;
        left: 140px;
    }
}
@media (max-width: 844px) {
    #overlay3 {
        display: block;
        position: absolute;
        z-index: 100;
        width: 160px;
        height: 130px;
        top: 120%;
        left: 35px;
    }
}
@media (max-width: 390px) {
    #overlay1 {
        display: none;
    }
}
@media (max-width: 390px) {
    #overlay2 {
        display: none;
    }
}
@media (max-width: 390px) {
    #overlay3 {
        display: none;
    }
}


#footer {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
    bottom: 0%;
}

@media (max-width: 844pt) {
    #footer {
        bottom: -86%;
        height: 20%;
    }
}
@media (max-width: 390pt) {
    #footer {
        bottom: -20%;
        height: 30%;
    }
}

#we-need-you-txt {
    width: 30%;

}
@media (max-width: 844px) {
    #we-need-you-txt {
        width: 40%;
        margin-left: 40px;
        margin-right: 20px;
    }
}
@media (max-width: 390px) {
    #we-need-you-txt {
        display: block;
        position: absolute;
        width: 100%;
        top: 0;
        margin-left: 0px;
    }
}
#icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100px;
    top: 50%;
    margin: 10%;
}
@media (max-width: 844px) {
    #icon-container {
        margin: 30px;
        margin-left: 40px;
        height: 60px;
        width: 30%;
}
}
@media (max-width: 390px) {
    #icon-container {
        display: flex;
        position: relative;
        width: 100%;
        top: 20%;
    }
}
.icon {
    margin: 20px;
    padding: 0;
}
@media (max-width: 844px) {
    .icon {
        margin: 10px;
        padding: 0;
    }
}
@media (max-width: 390px) {
    .icon {
        transform: scale(75%);
        transform-origin: left;
        margin: 10px;
    }
}
@media (max-width: 844px) {
    #patreon {
        width: 120px;
    }
}
@media (max-width: 844px) {
    #youtube {
        width: 50px;
    }
}
@media (max-width: 844px) {
    #tiktok {
        width: 40px;
    }
}
@media (max-width: 390px) {
    #coming-soon {
        position: absolute;
        width: 130px;
    }
}
@media (max-width: 844px) {
    #coming-soon {
        width: 150px;
        margin-left: 30px;
        margin-right: 30px;
    }
}