

@font-face {
    font-family: 'cascadia';
    src: url('./AppExport/ArtAssetsForSite/Fonts/CascadiaCode-2111.01/otf/static/CascadiaCode-Regular.otf') format('opentype'); /* Modern format */
  }


body {
    display: flex;
    background-color: #ccc9b2;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

@media (max-width: 844pt) {
    body {
        height: 100%;
    }
}
@media (max-width: 390px) {
    body {
        height: 100vh;
    }
}

#header {
    display: flex;
    position: absolute;
    width: 80%;
    height: 15%;
    top: 0%;
    align-items: center;
}
@media (max-width: 844pt) {
    #header {
        height: 30%;
    }
}
@media (max-width: 390pt) {
    #header {
        justify-content: center;
    }
}

#logo {
    background-image: url(./AppExport/ArtAssetsForSite/StartMenu.png);
    background-size: cover;
}
@media (max-width: 2560px) {
    #logo {
        transform-origin: left;
        width: 283px;
        height:175px;
    }
}
@media (max-width: 844px) {
    #logo {
        display: none;
    }
}
@media (max-width: 390px) {
    #logo {
        display: flex;
    }
}



#left-box {
    position: absolute;
    height: 60%;
    width: 15%;
    left: 0;
}
@media (max-width: 844pt) {
    #left-box {
        display: none;
    }
}

#right-box {
    position: absolute;
    height: 60%;
    width: 15%;
    right: 0;
}
@media (max-width: 844pt) {
    #right-box {
        display: none;
    }
}

iframe {
    padding: 0;
    margin: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    width: 1920px;
    height: 1084px;
    user-select: none;
}

@media (max-width: 2560px) {
    iframe {
        transform-origin: center;
        transform: scale(.66667)
    }
}

@media (max-width: 1680px) {
    iframe {
        transform-origin: center;
        transform: scale(50%);
    }
}

@media (max-width: 844pt) {
    iframe {
        position: absolute;
        transform: scale(.356);
        transform-origin: center;
        top: -246px;

    }
}
@media (max-width: 390pt) {
    iframe {
        display: none;    
    }
}

#border {
    position: absolute;
    border: 10px solid white;
    border-radius: 10px;
    width: 1916px;
    height: 1076px;
    transform-origin: center;
    pointer-events: none;
}
@media (max-width: 2560px) {
    #border {
        transform: scale(.66667)
    }
}
@media (max-width: 1680px) {
    #border {
        transform: scale(50%);
    }
}
@media (max-width: 844px) {
    #border {
        transform: scale(.356);
        top: -251px;
    }
}
@media (max-width: 390px) {
    #border {
        display: none;
    }
}

#intro-text {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 300px;
    height: 300px;
    font-family:'cascadia';
    text-align: center;
}
@media (max-width: 2560px) {
    #intro-text {
        display: none;
    }
}
@media (max-width: 844px) {
    #intro-text {
        display: none;
    }
}
@media (max-width: 390px) {
    #intro-text {
        display: flex;
    }
}
#intro-text h1{
    font-size: 14pt;
}


@media (max-width: 844px) {
    #overlay1 {
        position: absolute;
        z-index: 100;
        width: 100px;
        height: 235px;
        top: 65%;
        right: 30px;
    }
}
@media (max-width: 844px) {
    #overlay2 {
        position: absolute;
        z-index: 100;
        width: 420px;
        height: 100px;
        top: 30%;
        left: 100px;
    }
}
@media (max-width: 844px) {
    #overlay3 {
        position: absolute;
        z-index: 100;
        width: 160px;
        height: 90px;
        top: 112%;
        left: 35px;
    }
}
@media (max-width: 390px) {
    #overlay1 {
        display: none;
    }
}
@media (max-width: 390px) {
    #overlay2 {
        display: none;
    }
}
@media (max-width: 390px) {
    #overlay3 {
        display: none;
    }
}


#footer {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 15%;
    bottom: 0%;
}

@media (max-width: 844pt) {
    #footer {
        bottom: -56.5%;
        height: 8%;
    }
}
@media (max-width: 390pt) {
    #footer {
        bottom: -20%;
        height: 30%;
    }
}

#we-need-you-txt {
    width: 30%;

}
@media (max-width: 844px) {
    #we-need-you-txt {
        display: none;
    }
}
@media (max-width: 390px) {
    #we-need-you-txt {
        display: block;
        position: relative;
        width: 100%;
        top: -40%;
        left: 50%;
    }
}
#icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100px;
    top: 50%;
}
@media (max-width: 844px) {
    #icon-container {
        display: none;
    }
}
@media (max-width: 390px) {
    #icon-container {
        display: flex;
        position: relative;
        width: 100%;
        left: -50%;
        top: 0;
    }
}
.icon {
    margin: 8%;
}
@media (max-width: 844px) {
    .icon {
        display: none;
    }
}
@media (max-width: 390px) {
    .icon {
        display: flex;
        transform: scale(75%);
        transform-origin: left;
        margin: 0;
    }
}
#patreon {
    width: 140px;
}
#youtube {
    width: 100px;
}
#tiktok {
    width: 60px;
}
#coming-soon {
    position: fixed;
    transform: scale(75%);
    top: 85%;
    left: 55%;
}
@media (max-width: 844px) {
    #coming-soon {
        display: none;
    }
}
@media (max-width: 390px) {
    #coming-soon {
        display: block;
        position:absolute;
        left: 10%;
        top: 70%;
    }
}
